*.jl.*.cov
*.jl.cov
*.jl.mem
/Manifest.toml
/slurm_logs/*
*/slurm_logs/*
*/*/slurm_logs/*
*/*/*/slurm_logs/*
*_cache
*/*/*_cache*
*.out
*.err
/src/prior_build/sky_prior_disk/*
/src/prior_build/sky_priors/*
/src/prior_build/tell_prior_disk/*